@import '../../scss/variables.scss';

.hide {
    transform: translateX(100%);
    transition: transform 0.3s;
}

.Notification {
    transition: transform 0.3s;
    display: flex;
    width: 300px;
    height: 80px;
    position: absolute;
    color: $header_color_end;
    top: 50px;
    right: 0;
    border: .5px solid $text_color;
    justify-content: center;
    background-color: white;
}