@import '../../scss/variables.scss';

.Header {
    height: 60px;
    width: 100%;
    padding: .5em 1em;
    background-image: linear-gradient(to right, $header_color_start, $header_color_end);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;

    &__sidebarTrigger {
        background: transparent;
        border: 0;
        color: #fff;
        font-size: 1.75em;
        line-height: 1;
        padding: 0;
        display: none;
    }

    &__logo {
        display: flex;
        align-items: center;
        width: 250px;
        padding: 0 1.25em;
        img{
            width: 200px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-evenly;

        &__item {
            img {
                width: 40px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }

    }

    @media (max-width: 1023px) {
        &__sidebarTrigger {
            display: inline-block;
        }
    }
}
