@import '../../../scss/variables.scss';

.backdrop {
    display: none;

    @media (max-width: 1023px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .1);

        &.active {
            display: block;
        }
    }
}

.Sidebar {
    border-right: .5px solid #272e71;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__user {
        margin: 20px auto;

        img {
            width: 150px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }

    &__nav {
        width: 100%;
        color: #212529;

        ul {
            padding: 0;
            list-style: none;

            li {
                padding: 8px 0 8px 50px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: background-color .25s;

                &:hover {
                    background-color: #e5e5e5;
                }

                span {
                    margin-left: 20px;
                }
            }
        }
    }

    @media (max-width: 1023px) {
        position: fixed;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        opacity: 1;
        width: 300px;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: 2;
        background: #fff;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .1);
        border-right: none;

        &.active {
            transform: translateX(0);
        }

        &__user {
            display: none;
        }

        &__nav {
            ul li {
                padding-left: 30px;
            }
        }
    }
}