@import '../../../scss/variables.scss';

.UserInputTabs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    &__content {
        display: flex;
        flex-direction: column;
        background: white;
        width: 500px;
        @media (max-width: 1023px) {
            width: auto;
            margin: 0;
        }
        &__tabs {
            display: flex;
            justify-content: space-evenly;


            &__item {
                width: 50%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            &__item--active {
                border-bottom: 2px solid #272e71;
                width: 50%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            padding: 20px;

            &__headline {
                text-align: center;
            }

            &__form {
                margin: 0 auto;
                &__item{
                    p{
                    color: red;
                    text-align: right;             
                    font-size: 10px;
                    margin:0;
                }
                }
                form {
                    
                    display: flex;
                    flex-direction: column;
                    span{margin-top: 15px;}

                    input,
                    select {
                        width: 300px;
                        height: 40px;
                        background-color: #f3f3f3;
                        border: 0;
                        border-bottom: 2px solid #a5a5a5;
                        letter-spacing: -1px;
                        outline: 0;
                        padding: .5em;
                        margin-top: 20px;
                    }
                }

                &__buttons {
                    margin-top: 20px;
                    text-align: right;

                    button {
                        height: 40px;
                        width: 100px;
                        background-color: $header_color_end;
                        outline-style: none;
                        margin-left: 10px;
                        color: white;
                        border-radius: 3px;
                        font-size: 15px;

                        &:first-child {
                            background-color: $background_color;
                            color: $text_color;
                        }
                    }
                }
            }
        }
    }
}
