@import './scss/variables.scss';

.App {
  display: flex;
  flex-direction: column;
  color: white;

  .Dashboard {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 60px;
    background-color: $background_color;
    color: $text_color;
  }
}